    <h2>Login</h2>

    <% if (typeof error_msg !== 'undefined' && error_msg.length > 0) { %>
        <div class="alert alert-danger"><%= error_msg %></div>
    <% } %>
    <% if (typeof success_msg !== 'undefined' && success_msg.length > 0) { %>
        <div class="alert alert-success"><%= success_msg %></div>
    <% } %>


    <form action="/auth/login" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <p>Não tem uma conta? <a href="/auth/cadastro">Cadastre-se</a></p>
    