<header>
    <nav>
      <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/alunos">Alunos</a></li>
        <li><a href="/professores">Professores</a></li>
        <li><a href="/turmas">Turmas</a></li>
        <li><a href="/atividades/nova">Nova Atividade</a></li>
      </ul>
    </nav>
  </header>