    <h1>Painel do Aluno</h1>
    <p>Bem-vindo(a), <%= user.nome %>!</p>
    <p>Aqui você poderá ver suas turmas, atividades, notas e mais.</p>
    
    <h2>Minhas Turmas</h2>
    <%# Aqui você listaria as turmas do aluno %>
    <p><em>Funcionalidade de listar turmas do aluno a ser implementada.</em></p>
    
    <h2>Minhas Atividades Recentes</h2>
    <%# Aqui você listaria as atividades recentes %>
    <p><em>Funcionalidade de listar atividades do aluno a ser implementada.</em></p>
    
    <a href="/auth/logout">Sair</a>
    