    <h1>Painel do Professor</h1>
    <p>Bem-vindo(a), Professor(a) <%= user.nome %>!</p>
    <p>Aqui você poderá gerenciar suas turmas, criar atividades, avaliar entregas e mais.</p>

    <h2>Minhas Turmas</h2>
    <a href="/turmas/nova">Criar Nova Turma</a>
    <%# Aqui você listaria as turmas do professor %>
    <p><em>Funcionalidade de listar turmas do professor a ser implementada.</em></p>
    <a href="/turmas">Ver todas as minhas turmas</a>


    <h2>Atividades Recentes</h2>
    <%# Aqui você listaria as atividades recentes criadas %>
    <p><em>Funcionalidade de listar atividades criadas a ser implementada.</em></p>
    
    <a href="/auth/logout">Sair</a>
    