
  <h2>Editar Aluno</h2>
  <form action="/alunos/<%= aluno.id %>?_method=PUT" method="POST">
    <label>Nome:</label>
    <input type="text" name="nome" value="<%= aluno.nome %>" required>

    <label>Idade:</label>
    <input type="number" name="idade" value="<%= aluno.idade %>" required>

    <button type="submit">Salvar</button>
  </form>
