
<h2>Lista de Alunos</h2>
<a href="/alunos/novo">Cadastrar Novo Aluno</a>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% alunos.forEach(aluno => { %>
      <tr>
        <td><%= aluno.nome %></td>
        <td><%= aluno.idade %></td>
        <td>
          <a href="/alunos/<%= aluno.id %>/editar">Editar</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
